section.ab
            .container.ab__flex
                .ab__flex--left
                    .ab__postImage
                        a(href="#")
                            img(src='images/section/01.png' alt='images')
                .ab__flex--right
                    h2.ab__title.mb-3 Super clean user interface for easier use.
                    p.ab__des.mb-3 The master bedroom suite is phenomenally spacious breathtaking plunge pool and bar area that most of it position suite is phenomenally.
                    .ab__btn
                        a(class="btn__common" href="#") Download Now