section.banner
            .container
                .banner__flex
                    .banner__left
                        h1.banner__title.mb-3 Never miss this beautiful Saas app.
                        p.banner__des.mb-3 The passage is attributed to an unknown typesetter in the 15th century who is thought have finibus.
                        .banner__btn
                            a(class="btn__common" href="#") Try 14 Days free trial
                    .banner__right
                        .banner__postImage 
                            img(src='images/section/12.png' alt='images')