section.fea
	.container
		.title__section.text-center
			h2.title__section--sun Exclusive Features
			p.title__section--sub The purpose of lorem ipsum is to create a natural looking block of text that doesn't distract <br>from the layout laying out pages with meaningle
		.grid__Tcolumns
			+fea__iconbox("Easily Managable","Our wisi enim ad minim veniam nostrud exerci tation ullamcorper suscipit aliquip ex ea commodo consequat.",'icon-computer')
			+fea__iconbox("Powerful Codes","Our wisi enim ad minim veniam nostrud exerci tation ullamcorper suscipit aliquip ex ea commodo consequat.",'icon-browser')
			+fea__iconbox("Clean Design","Our wisi enim ad minim veniam nostrud exerci tation ullamcorper suscipit aliquip ex ea commodo consequat.",'icon-construction')