header.header
            .container
                .flex-header
                    .logo#logo
                        a(href='index.html' title='Logo')
                            img(src='images/logo/01.png' alt='images')
                    .btn__menu(dir='rtl')
                        .btn__menu--line.line1
                        .btn__menu--line.line2
                        .btn__menu--line.line3
                        .btn__menu--line.line4
                    .menu__content
                        .menu__nav
                            nav
                                ul.menu
                                    li.menu__list
                                        a.active(class="menu__list--link" href='#') Home
                                        ul.menu__sub
                                            li(class="menu__sub--list")
                                                a.active(class="menu__sub--link" href='#') Home 1
                                            li(class="menu__sub--list")
                                                a(class="menu__sub--link" href='#') Home 2
                                            li(class="menu__sub--list")
                                                a(class="menu__sub--link" href='#') Home 3
                                    li.menu__list
                                        a(class="menu__list--link" href='#') About
                                    li.menu__list
                                        a(class="menu__list--link" href='#') Features
                                    li.menu__list
                                        a(class="menu__list--link" href='#') Services
                        .menu__sign
                            a(class="btn__common" href='#') Sign in