section.lnew
            .container
                .title__section.text-center
                    h2.title__section--sun Never Miss Latest News
                    p.title__section--sub The purpose of lorem ipsum is to create a natural looking block of text that doesn't distract <br>from the layout laying out pages with meaningle
                .grid__Fcolumns
                    +lnew__imagebox("08","The purpose of lorem looking block.",'January 22, 2020')
                    +lnew__imagebox("09","The purpose of lorem looking block.",'January 22, 2020')
                    +lnew__imagebox("10","The purpose of lorem looking block.",'January 22, 2020')
                    +lnew__imagebox("11","The purpose of lorem looking block.",'January 22, 2020')