section.sta
            .container
                .sta__fact.mb-5
                    +sta__iconbox("icon-result","Complete Project",'8689')
                    +sta__iconbox("icon-download","Total Download",'3594')
                    +sta__iconbox("icon-document","Positive Review",'9384')
                    +sta__iconbox("icon-drink","Cup Of Coffee",'4393')
                    +sta__iconbox("icon-team-building","Team Members",'7986')
                .sta__cta
                    h2.sta__cta--title We are free to discuss, Let's start with a cup of coffee.
                    .sta__cta--btn
                        a(class="btn__common" href="#") Started Now