section.team
            .container
                .title__section.text-center
                    h2.title__section--sun Awesome Team Members
                    p.title__section--sub The purpose of lorem ipsum is to create a natural looking block of text that doesn't distract <br>from the layout laying out pages with meaningle
                .grid__Fcolumns
                    +team__members("02","Tanya Figueroa",'UI/UX Designer',1)
                    +team__members("03","Claire Kennedy",'Web Developer',2)
                    +team__members("04","Kathryn Baker",'Marketing Manger',3)
                    +team__members("05","Connie Becker",'Apps Developer',4)