section.video
            .container
                .video__background-inner.text-center
                    .video__overlay
                    .video__wrap
                        h3.video__title.mb-3 Watch This Video Presentation <br>To Know More
                        .video__btn-play
                            a(href="#")
                                <i class="fa fa-play" aria-hidden="true"></i>